body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.password-input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.toggle-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0056b3;
}
